.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f5e4d2; /* สีพื้นหลังน้ำตาลอ่อน */
  padding: 20px;
}

.login-cafe-buck {
  font-size: 4rem; /* ปรับขนาดตามที่ต้องการ */
  font-weight: bold;
  color: #6b4f3a; /* สีน้ำตาลเข้ม */
  margin-bottom: 50px;
  animation: rotate 5s linear infinite;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #6b4f3a; /* เส้นขอบสีน้ำตาลเข้ม */
  background-color: #d2b48c; /* พื้นหลังของโลโก้โทนน้ำตาลอ่อน */
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login-form {
  position: absolute;
  bottom: 30px; /* ปรับระยะห่างจากด้านล่าง */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  max-width: 300px; /* ปรับขนาดความกว้างสูงสุด */
  padding: 12px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #a0522d; /* สีน้ำตาลแดง */
  border-radius: 8px;
  background-color: #fdf2e9; /* สีพื้นหลังกล่อง input */
  color: #6b4f3a; /* สีข้อความ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-input::placeholder {
  color: #a0522d; /* สีข้อความ placeholder */
}

.login-button {
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #8b4513; /* สีปุ่มสีน้ำตาลเข้ม */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #a0522d; /* สีปุ่มเมื่อ hover */
}
