.box2{
   position: relative;
   background-color: #fdfdfd;
   width:100%;
   height: 400px;
   top: 270px;
}
.row{
 position: relative;
 display: flex;
 justify-content: space-between;
 margin-left: 70px;
 margin-right: 70px;
 top: 10px;
}

.card{
   background-color: #eabd8b;
   
} 


